.text-input {
    width: 100%;
    border: 1px solid white;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    background: black;
    color: white;
  }
.send {
    background: white;
    border-radius: 50%;
    border: none;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 1.15rem;
    cursor: pointer;
  }